body, html {
    height: 100vh;
}

.text {
    
    font-family: Impact;
    font-size: 40px;
    color: white;
}

.parallax {

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.one {
    background-image: url(https://wallpapercave.com/wp/wp8351444.png);
}

.two {
    background-image: url(https://wallpapercave.com/wp/wp5493583.jpg);
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: black;
    border: 4px outset skyblue;
}

h1 {
    font-family: Impact;
    font-weight: bold;
    color: white;
}