body
{
    font-family: Arial, sans-serif;
    text-align: center;
}

#newBtn
{
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

#ft_list
{
    width: 300px;
    margin: auto;
}

.todo
{
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.todo:hover
{
    background-color: #ddd;
}