body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.balloon {
    border-radius: 50%;
    background-color: red;
    width: 200px;
    height: 200px;
    transition-duration: 0.4s;
}
/*
.balloon:hover {
    transform: scale(0.9)
}

.balloon:active {
    transform: scale(1.1);
}
    */